.player-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 5px;
  margin: 10px;
}

.profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36,33,36);
  width: 300px;
  color: white;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
}

.profile-img {
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.level {
  position: absolute;
  bottom: 125px;
  background-color: rgb(16,12,8);
  width: 40px;
  color: white;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 700;
}

.rank {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(36,33,36);
  color: white;
  height: 225px;
  width: 300px;
  margin: 20px;
  font-size: 30px;
  font-weight: 700;
  border-radius: 10px;
}

.rank-img {
  position: absolute;
  left: 10%;
  top: 190px;
  object-fit: cover;
  overflow: hidden;
  margin: -250px 0px 0px 0px;
}

.rank-txt {
  position: absolute;
  top: 75%;
}

.UNRANKED {
  border: 1px solid rgb(17,13,12);
}
.IRON {
  border: 1px solid rgb(188,143,143);
}
.BRONZE {
  border: 1px solid rgb(205,133,63);
}
.SILVER {
  border: 1px solid rgb(169,169,169);
}
.GOLD {
  border: 1px solid rgb(255,219,88);
}
.PLATINUM {
  border: 1px solid rgb(0,206,209);
}
.DIAMOND {
  border: 1px solid rgb(185,242,255);
}
.MASTER {
  border: 1px solid rgb(186,85,211);
}
.GRANDMASTER {
  border: 1px solid rgb(220,20,60);
}
.CHALLENGER {
  border: 1px solid rgb(255,215,0);
}