.App {
  background-color: #121212;
  color: gray;
  text-align: center;
}

.container {
  display: flex;
}

.container > div {
  flex: 1;
}

.container > ul {
  flex: 1;
}

.match {
  display: flex;
  padding: 5px;
}

.match > div {
  flex: 1;
}

.match-stats {
  display: flex;
}

.match-stats > div {
  flex: 1;
}

.match-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.match-details > match-stats > items {
  flex: 1;
}

.champ-details {
  display: flex;
}

.champ-details > champ-icon > build {
  flex: 1;
}

.build {
  display: flex;
}

.build > summs > runes {
  flex: 1;
}

.summs {
  list-style: none;
  padding: 3px;
}

.runes {
  list-style: none;
  padding: 3px;
}

.items {
  display: flex;
  padding: 0;
}

.items > li {
  flex: 1;
  list-style: none;
}

.score {
  font-size: 20px;
  margin: auto;
  text-align: center;
}

.participants {
  display: flex;
}

.participants > ul {
  flex: 1;
  padding: 0px;
}

.blue-team {
  display: flex;
}

.blue-team > icon > name {
  flex: 1;
}

.red-team-list {
  position: relative;
}

.red-team {
  display: flex;
}

.red-team > icon > name {
  flex: 1;
}

